
<router-outlet></router-outlet>
@if (uiStore.toastMessage()) {
  <div class="toast toast-end toast-bottom z-[100]">
    <div class="alert shadow-lg" [class.alert-success]="uiStore.toastType() === 'success'"
     [class.alert-error]="uiStore.toastType() === 'error'"
     [class.alert-info]="uiStore.toastType() === 'info'">
      <div class="flex items-center gap-2">
        @if (uiStore.toastType() === 'success') { <i class="fa-solid fa-check-circle"></i> }
        @else { <i class="fa-solid fa-triangle-exclamation"></i> }
        <span>{{ uiStore.toastMessage() }}</span>
      </div>
    </div>
  </div>
}